framework: net461
source https://www.myget.org/F/machine-learning/api/v3/index.json
source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/sentimentfs/api/v2

nuget FAKE
nuget FSharp.Core
nuget Akka
nuget Akka.Remote
nuget Akkling
nuget FsPickler 3.4.0
nuget SentimentFS.NaiveBayes
nuget SentimentFS.Stemmer
nuget Newtonsoft.Json